#game-container {
  // background: linear-gradient(#E6DADA, #274046);
  background: #000;
}

#user-info-and-controls {
  position: absolute;
  width: 15vw;
  height: 100vh;
  left: 20px;
  font-size: $big-font-size;

  h2 {
    padding-top: 35px;
    padding-bottom: 0px;
    line-height: 5rem;
  }

  p {
    color: #fff;
    width: 45vw;
    @media(max-width: $xs-max-width) {
      width: 70vw;
      font-size: 16px;
    }
  }

  button, #exit-button {
    @include button-style;
    font-size: $regular-font-size;

    @media(max-width: $xs-max-width) {
      min-width: 120px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px;
    }
  }

  #exit-button {
    color: #f44336;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      background: #E1BEE7;
    }
  }

  .no-visible {
    display: none;
  }
}

#user-pic {
  position: absolute;
  top: 50px;
  right: 20px;

  img {
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #fff;
  }
}

#llama-info {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: $big-font-size;
}

#cheer {
  position: absolute;
  bottom: 50px;
  text-align: center;
  color: $cheer-color;
  font-size: $cheer-font-size;
  font-weight: bold;

  @media(max-width: $xs-max-width) {
    font-size: 24px;
  }
}
