main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: $solid-background;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  animation: slide-down 4s ease;

  h1 {
    font-family: $landing-title;
    font-size: $landing-title-size;
    line-height: 6rem;
    padding-bottom: $landing-padding-bottom;

    @media(max-width: $xs-max-width) {
      font-size: $mobile-landing-title-size;
      line-height: 4rem;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: 250px;
    padding-bottom: $landing-padding-bottom;
  }

  #registration-button {
    @include button-style;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
