$landing-title: 'Abril Fatface', cursive;
$font-family-regular: 'Didact Gothic', sans-serif;
$landing-title-size: 5rem;
$mobile-landing-title-size: 3rem;
$name-font-size: 3rem;
$big-font-size: 2rem;
$regular-font-size: 1.5rem;


$standard-color: #37474F;
$solid-background: #fff;
$button-background-color: #fff;
$button-border-color: #383838;
$button-font-color: #00BCD4;
$button-hover-background: #AB47BC;
$input-border-color: #FF5722;

$landing-padding-bottom: 50px;
