@import 'reset';
@import 'variables';
@import 'mixins';
@import "breakpoints";
@import "base";
@import 'landing';
@import 'registration';
@import 'game';
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
